@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
    font-family: 'ShadowHand';
    src: url('../fonts/ShadowHand.woff2') format('woff2'),
         url('../fonts/ShadowHand.woff') format('woff');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WorksansMedium';
    src: url('../fonts/WorkSans-Medium.woff2') format('woff2'),
         url('../fonts/WorkSans-Medium.woff') format('woff');
    
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WorksansBold';
    src: url('../fonts/WorkSans-Bold.woff2') format('woff2'),
         url('../fonts/WorkSans-Bold.woff') format('woff');
    
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
